@model StudentDashboard.Models.Visits

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Visits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Advisor" class="control-label"></label>
                <input asp-for="Advisor" class="form-control" />
                <span asp-validation-for="Advisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student" class="control-label"></label>
                <input asp-for="Student" class="form-control" />
                <span asp-validation-for="Student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentsCalled" class="control-label"></label>
                <input asp-for="ParentsCalled" class="form-control" />
                <span asp-validation-for="ParentsCalled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="length" class="control-label"></label>
                <input asp-for="length" class="form-control" />
                <span asp-validation-for="length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topics" class="control-label"></label>
                <input asp-for="Topics" class="form-control" />
                <span asp-validation-for="Topics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
