@{
    ViewData["Title"] = "Home Page";
}
<p>Begin Visits table</p>
<div id="VisitsTable"></div>
<p>End Visits Table</p>

<p>Begin Visits form</p>
<div id="VisitsForm"></div>
<p>End Visits form</p>



@section Scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="/reactapp/dist/visits.js"></script>
  <script src="/reactapp/dist/visitsEdit.js"></script>
}

